dynvariables:
  user: test -n "$SUDO_USER" && echo $SUDO_USER || echo $USER 
config:
  backup: true
  banner: false
  create: true
  dotpath: /home/{{@@ user @@}}/.dotfiles
  keepdot: false
  link_dotfile_default: nolink
  link_on_import: nolink
  longkey: false
dotfiles:
  f_grub:
    src: config/grub/grub
    dst: /etc/default/grub
  d_grub_themes:
    src: config/grub/themes
    dst: /usr/share/grub/themes
  f_logind.conf:
    src: config/systemd/logind.conf
    dst: /etc/systemd/logind.conf
profiles:
  common:
    dotfiles:
    - f_grub
    - d_grub_themes
    - f_logind.conf
  bonsai:
  ginkgo:
    include:
      - common
  maple:
    include:
      - common
